# Adresse de l'hôte pour la base de données
DB_HOST=
# port de la base de donnée
DB_PORT=
# Nom de la base de données
DB_NAME=
# Nom d'utilisateur pour la connexion
DB_USER=
# Mot de passe associé
DB_PASS=
# Jeu de caractères à utiliser
DB_CHARSET=utf8
